/*!
 * Module: springy Animation
 * Usage: <div class="cssanimation ca__fx-springy">Your Content</div>
 */
/* stylelint-disable */

:root {
  --cssanimation-duration: 1s;
  --cssanimation-fill-mode: both;
  --cssanimation-infinite: infinite;
  --cssanimation-backface-visibility: hidden;
  --cssanimation-transform-style: preserve-3d;
  --cssanimation-will-change: transform, opacity;
  --cssanimation-display: inline-block;
  --move-distance: -800px;
}

.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

@keyframes springy {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.4, 0.6);
  }

  50% {
    transform: scale(0.8, 1.3);
  }

  70% {
    transform: scale(1.2, 0.8);
  }

  100% {
    transform: scale(1);
  }
}
