/*!
 * Module: maskCheckerboardIn Animation
 * Usage: <div class="cssanimation ca__fx-maskCheckerboardIn">Your Content</div>
 */
/* stylelint-disable */

:root {
  --cssanimation-duration: 1s;
  --cssanimation-fill-mode: both;
  --cssanimation-infinite: infinite;
  --cssanimation-backface-visibility: hidden;
  --cssanimation-transform-style: preserve-3d;
  --cssanimation-will-change: transform, opacity;
  --cssanimation-display: inline-block;
  --move-distance: -800px;
}

.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

.ca__fx-maskCheckerboardIn {
  animation: mask-checkerboardIn 1s ease-out forwards;
  -webkit-mask-image:
    repeating-linear-gradient(0deg, transparent 0,transparent 25%, black 25%, black 50%),
    repeating-linear-gradient(90deg, transparent 0,transparent 25%, black 25%, black 50%);
  mask-image:
    repeating-linear-gradient(0deg, transparent 0,transparent 25%, black 25%, black 50%),
    repeating-linear-gradient(90deg, transparent 0,transparent 25%, black 25%, black 50%);
  -webkit-mask-image:
    repeating-linear-gradient(0deg, transparent 0 25%, black 25% 50%),
    repeating-linear-gradient(90deg, transparent 0 25%, black 25% 50%);
  mask-image:
    repeating-linear-gradient(0deg, transparent 0 25%, black 25% 50%),
    repeating-linear-gradient(90deg, transparent 0 25%, black 25% 50%);
  -webkit-mask-size: 200% 200%;
  mask-size: 200% 200%;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
}
