/**
 * Module: Letter Dance In
 * Filename: ca__LetterDanceIn.css
 * Description: This animation block was auto-exported from cssanimation.css
 * Usage:
 *   <div class="ca__LetterDanceIn">Your Text</div>
 */

.ca__lt-DanceInTop span {
    animation-name: leDanceInTop;
    transform-origin: top;
}

@keyframes leDanceInTop {
    0% {
        opacity: 0;
    }

    16% {
        transform: skew(-14deg);
    }

    33% {
        transform: skew(12deg);
    }

    49% {
        transform: skew(-8deg);
    }

    66% {
        transform: skew(6deg);
    }

    83% {
        transform: skew(-4deg);
    }
}

.ca__lt-DanceInMiddle span {
    animation-name: leDanceInMiddle;
}

@keyframes leDanceInMiddle {
    0% {
        opacity: 0;
    }

    16% {
        transform: skew(-14deg);
    }

    33% {
        transform: skew(12deg);
    }

    49% {
        transform: skew(-8deg);
    }

    66% {
        transform: skew(6deg);
    }

    83% {
        transform: skew(-4deg);
    }
}

.ca__lt-DanceInBottom span {
    animation-name: leDanceInBottom;
    transform-origin: bottom;
}

@keyframes leDanceInBottom {
    0% {
        opacity: 0;
    }

    16% {
        transform: skew(-14deg);
    }

    33% {
        transform: skew(12deg);
    }

    49% {
        transform: skew(-8deg);
    }

    66% {
        transform: skew(6deg);
    }

    83% {
        transform: skew(-4deg);
    }
}
