/**
 * Module: Letter Skate
 * Filename: ca__LetterSkate.css
 * Description: This animation block was auto-exported from cssanimation.css
 * Usage:
 *   <div class="ca__LetterSkate">Your Text</div>
 */

.ca__lt-SkateX span {
    animation-name: leScaleX;
    animation-iteration-count: infinite;
}

@keyframes leScaleX {
    50% {
        transform: scaleX(0.4);
    }
}

.ca__lt-SkateY span {
    animation-name: leSkateY;
    animation-iteration-count: infinite;
}

@keyframes leSkateY {
    50% {
        transform: scaleY(0.4);
    }
}

.ca__lt-SkateXY span {
    animation-name: leSkateXY;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

@keyframes leSkateXY {
    25% {
        transform: scale3d(1, 0.4, 0);
    }

    50% {
        transform: scale3d(0.4, 0.4, 1);
    }

    75% {
        transform: scale3d(0.4, 1, 1);
    }
}
