/**
 * Module: Letter Rotation
 * Filename: ca__LetterRotation.css
 * Description: This animation block was auto-exported from cssanimation.css
 * Usage:
 *   <div class="ca__LetterRotation">Your Text</div>
 */

.ca__lt-RotateXZoomIn span {
    animation-name: leRotateXZoomIn;
}

@keyframes leRotateXZoomIn {
    0% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateX(75deg);
        opacity: 0;
    }

    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateX(75deg);
    }
}

.ca__lt-RotateXZoomOut span {
    animation-name: leRotateXZoomOut;
}

@keyframes leRotateXZoomOut {
    95% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateX(75deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateX(75deg);
        opacity: 0;
    }
}

.ca__lt-RotateYZoomIn span {
    animation-name: leRotateYZoomIn;
}

@keyframes leRotateYZoomIn {
    0% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateY(75deg);
        opacity: 0;
    }

    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateY(75deg);
    }
}

.ca__lt-RotateYZoomOut span {
    animation-name: leRotateYZoomOut;
}

@keyframes leRotateYZoomOut {
    95% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateY(75deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateY(75deg);
        opacity: 0;
    }
}
