/*!
 * Module: magicTrailComet Animation
 * Usage: <div class="cssanimation ca__fx-magicTrailComet">Your Content</div>
 */
/* stylelint-disable */

:root {
  --cssanimation-duration: 1s;
  --cssanimation-fill-mode: both;
  --cssanimation-infinite: infinite;
  --cssanimation-backface-visibility: hidden;
  --cssanimation-transform-style: preserve-3d;
  --cssanimation-will-change: transform, opacity;
  --cssanimation-display: inline-block;
  --move-distance: -800px;
}

.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

.ca__fx-magicTrailComet {
  width: 120px;
  height: 4px;
  background: linear-gradient(to right, transparent, #00ffff, #ffffff);
  animation: magicTrailComet 1.5s linear infinite;
  border-radius: 100px;
}

@keyframes magicTrailComet {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
/**
 * Module: Elastic Animation
 * Filename: ca__elastic.css
 */
.ca__fx-elasticArise {
  animation: elasticArise 2s cubic-bezier(0.5, 0, 0.5, 1);
  transform-origin: bottom center; /* Important for vertical scaling */
}
