/*!
 * Module: breezeLift Animation
 * Usage: <div class="cssanimation ca__fx-breezeLift">Your Content</div>
 */
/* stylelint-disable */

:root {
  --cssanimation-duration: 1s;
  --cssanimation-fill-mode: both;
  --cssanimation-infinite: infinite;
  --cssanimation-backface-visibility: hidden;
  --cssanimation-transform-style: preserve-3d;
  --cssanimation-will-change: transform, opacity;
  --cssanimation-display: inline-block;
  --move-distance: -800px;
}

.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

.ca__fx-breezeLift {
  animation-name: breezeLift;
  animation-timing-function: ease-in-out;
  will-change: transform, opacity;
  transform-origin: center;
}

@keyframes breezeLift {
  0% {
    transform: translateY(40%) rotate(-3deg);
    opacity: 0;
  }

  50% {
    transform: translateY(-5%) rotate(2deg);
  }

  100% {
    transform: translateY(0%) rotate(0deg);
    opacity: 1;
  }
}
