/*!
 * Module: meshMorphWave Animation
 * Usage: <div class="cssanimation ca__fx-meshMorphWave">Your Content</div>
 */
/* stylelint-disable */

:root {
  --cssanimation-duration: 1s;
  --cssanimation-fill-mode: both;
  --cssanimation-infinite: infinite;
  --cssanimation-backface-visibility: hidden;
  --cssanimation-transform-style: preserve-3d;
  --cssanimation-will-change: transform, opacity;
  --cssanimation-display: inline-block;
  --move-distance: -800px;
}

.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

.ca__fx-meshMorphWave {
  background:
    radial-gradient(at 10% 10%, #f9ce34, transparent 30%), radial-gradient(at 90% 90%, #ee2a7b, transparent 40%),
    radial-gradient(at 50% 50%, #6228d7, transparent 50%);
  animation: meshMorphWave 15s ease-in-out infinite;
  background-blend-mode: screen;
}

@keyframes meshMorphWave {
  0%,
  100% {
    background-position:
      10% 10%,
      90% 90%,
      50% 50%;
  }

  50% {
    background-position:
      70% 30%,
      30% 70%,
      60% 60%;
  }
}
