/**
 * Module: Rotation
 * Filename: ca__Rotation.css
 * Description: This animation block was auto-exported from cssanimation.css
 * Usage:
 *   <div class="ca__Rotation">Your Text</div>
 */

.ca__fx-Rotate {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ca__fx-RotateX {
    animation-name: rotateX;
}

@keyframes rotateX {
    from {
        transform: perspective(600px) rotateX(0deg);
    }

    to {
        transform: perspective(600px) rotateX(90deg);
    }
}

.ca__fx-RotateXIn {
    animation-name: rotateXIn;
}

@keyframes rotateXIn {
    0% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateX(75deg);
        opacity: 0;
    }

    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateX(75deg);
    }
}

.ca__fx-RotateXOut {
    animation-name: rotateXOut;
}

@keyframes rotateXOut {
    95% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateX(75deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateX(75deg);
        opacity: 0;
    }
}

.ca__fx-RotateY {
    animation-name: rotateY;
}

@keyframes rotateY {
    from {
        transform: perspective(600px) rotateY(0deg);
    }

    to {
        transform: perspective(600px) rotateY(90deg);
    }
}

.ca__fx-RotateYIn {
    animation-name: rotateYIn;
}

@keyframes rotateYIn {
    0% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateY(75deg);
        opacity: 0;
    }

    5% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateY(75deg);
    }
}

.ca__fx-RotateYOut {
    animation-name: rotateYOut;
}

@keyframes rotateYOut {
    95% {
        transform: perspective(600px) translate3d(0, -60px, -1500px)
            rotateY(75deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, -60px, -2000px)
            rotateY(75deg);
        opacity: 0;
    }
}
