/**
 * Module: Letter Perspective
 * Filename: ca__LetterPerspective.css
 * Description: This animation block was auto-exported from cssanimation.css
 * Usage:
 *   <div class="ca__LetterPerspective">Your Text</div>
 */

.ca__lt-PerspectiveOutTop span {
    animation-name: lePerspectiveOutTop;
    transform: perspective(500px);
    transform-style: preserve-3d;
}

@keyframes lePerspectiveOutTop {
    50% {
        opacity: 1;
    }

    100% {
        transform: perspective(500px) rotateX(90deg) translateY(-50px)
            translateZ(50px);
        opacity: 0;
    }
}

.ca__lt-PerspectiveOutBottom span {
    animation-name: lePerspectiveOutBottom;
    transform: perspective(500px);
    transform-style: preserve-3d;
}

@keyframes lePerspectiveOutBottom {
    50% {
        opacity: 1;
    }

    100% {
        transform: perspective(500px) rotateX(90deg) translateY(50px)
            translateZ(-50px);
        opacity: 0;
    }
}
