/*!
 * Module: shockInTop Animation
 * Usage: <div class="cssanimation ca__fx-shockInTop">Your Content</div>
 */
/* stylelint-disable */

:root {
  --cssanimation-duration: 1s;
  --cssanimation-fill-mode: both;
  --cssanimation-infinite: infinite;
  --cssanimation-backface-visibility: hidden;
  --cssanimation-transform-style: preserve-3d;
  --cssanimation-will-change: transform, opacity;
  --cssanimation-display: inline-block;
  --move-distance: -800px;
}

.cssanimation {
  animation-duration: var(--cssanimation-duration, 1s);
  animation-fill-mode: var(--cssanimation-fill-mode, both);
}

.cssanimation span {
  display: var(--cssanimation-display, inline-block);
}

.infinite {
  animation-iteration-count: var(--cssanimation-infinite, infinite) !important;
}

@media (prefers-reduced-motion: reduce) {
  .cssanimation,
  .cssanimation span {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

.ca__fx-shockInTop {
  animation-name: shockInTop;
}

@keyframes shockInTop {
  0% {
    transform: matrix(1, 0, 0, 1, 0, -400);
  }

  35% {
    transform: matrix(1, 0, 0, 1, 0, 50);
  }

  43% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
