@keyframes leDoorCloseLeft {
  from,
  to {
    transform: perspective(400px);
    transform-origin: left;
  }
  

@keyframes leDoorOpenRight {
  from,
  to {
    transform: perspective(400px);
    transform-origin: left;
  }
  

@keyframes leDoorCloseRight {
  from,
  to {
    transform: perspective(400px);
    transform-origin: right;
  }
  

@keyframes leDoorOpenLeft {
  from,
  to {
    transform: perspective(400px);
    transform-origin: right;
  }
  

.doorCloseFromLeft {
  animation-name: doorCloseFromLeft;
}

@keyframes doorCloseFromLeft {
  from {
    transform: perspective(400px) rotateY(90deg);
    transform-origin: left;
    opacity: 0;
  }
  

.doorOpenFromRight {
  animation-name: doorOpenFromRight;
}

@keyframes doorOpenFromRight {
  from {
    transform: perspective(400px) rotateY(0deg);
    transform-origin: left;
    opacity: 1;
  }
  

.doorCloseFromRight {
  animation-name: doorCloseFromRight;
}

@keyframes doorCloseFromRight {
  from {
    transform: perspective(400px) rotateY(-90deg);
    transform-origin: right;
    opacity: 0;
  }
  

.doorOpenFromLeft {
  animation-name: doorOpenFromLeft;
}

@keyframes doorOpenFromLeft {
  from {
    transform: perspective(400px) rotateY(0deg);
    transform-origin: right;
    opacity: 1;
  }
  

