@keyframes leHorizontalTremble {
  3%,
  21%,
  39%,
  57%,
  74%,
  92% {
    transform: translateX(5px);
  }
  

@keyframes leVerticalTremble {
  3%,
  21%,
  39%,
  57%,
  74%,
  92% {
    transform: translateY(5px);
  }
  

.shockZoom {
  animation-name: shockZoom;
}

@keyframes shockZoom {
  from {
    transform: matrix(5, 0, 0, 5, 0, 0);
  }
  

.shockInLeft {
  animation-name: shockInLeft;
}

@keyframes shockInLeft {
  from {
    transform: matrix(1, 0, 0, 1, -800, 0);
  }
  

.shockInRight {
  animation-name: shockInRight;
}

@keyframes shockInRight {
  from {
    transform: matrix(1, 0, 0, 1, 800, 0);
  }
  

.shockInTop {
  animation-name: shockInTop;
}

@keyframes shockInTop {
  from {
    transform: matrix(1, 0, 0, 1, 0, -400);
  }
  

.shockInBottom {
  animation-name: shockInBottom;
}

@keyframes shockInBottom {
  from {
    transform: matrix(1, 0, 0, 1, 0, 400);
  }
  

